<%= if @avatar do %>
  <img class={"avatar #{@shape}"} src={@avatar}>
<% else %>
  <span class="avatar fa-stack">
    <i class={"fas fa-#{@shape} fa-stack-2x"}></i>
    <i class={"fas #{@icon} fa-stack-1x fa-inverse"}></i>
  </span>
<% end %>