// modals
// ------
.modal-background {
  position: fixed;
}

.modal-card-title {
  font-weight: 300;
}

.modal-card-foot {
  background: white;
  padding: 0  30px 30px 30px;
}


// cards
// -----
.card .card-header {
  background-color: #f0f8ff;

  .card-header-title {
    color: #1c7a80;
    font-weight: 600;
    padding: 1.5rem;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}


// cursors
// -------
$cursors: ('default' 'pointer' 'grab' 'help' 'wait' 'crosshair' 'not-allowed' 'zoom-in');

@each $cursor in $cursors {
  .has-cursor-#{$cursor} {
    cursor: #{$cursor} !important;
  }
}

.has-cursor-grab:active {
  cursor: grabbing !important;
}


// buttons => revert #2381 bad fix
// -------------------------------
.buttons.is-right {
  &:not(.has-addons) .button:not(.is-fullwidth) {
    margin-right: 0;
    margin-left: 0;
  }

  & .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 0.5rem;
  }
}


// dropdown & nested dropdown
// --------------------------
.dropdown-item,
.nested.dropdown .dropdown-trigger {
  display: flex;
  align-items: center;
}

div.dropdown-item {
  padding-right: 3rem;
  text-align: left;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-color: whitesmoke;
    color: #0a0a0a;
  }
}

.nested.dropdown {
  &:hover > .dropdown-menu {
    display: block;
  }

  &.is-left .dropdown-menu {
    left: -70%;
    right: auto;
    margin-left: 100%;
  }
}

.dropdown.is-iconless {
  a.dropdown-item,
  button.dropdown-item,
  div.dropdown-item {
    padding-right: 1rem;
  }
}

.dropdown-content{
  // unit as tailwind 1 == 1/4 rem
  &.max-h-60 {
    max-height: 15rem;
    overflow-y: auto;
  }
  &.max-h-120 {
    max-height: 30rem;
    overflow-y: auto;
  }
}


// checkboxes
// ----------
input[type=checkbox] {
  transform: scale(1.5);
  margin-left: 0.25rem;
}