/**************************\
  Basic Modal Styles
\**************************/
#modals {
  position: relative;
  z-index: 100;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.large [role="dialog"] {
  width: 100%;
  max-width: 68rem;
}
