.thinScroll::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #ddd;
    border-radius: 7px;
}

.thinScroll::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 7px;
}

.thinScroll {
  	scrollbar-width: thin;
    scrollbar-color: #bbb #ddd;
}
