.thin_scroll::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #ddd;
    border-radius: 7px;
}

.thin_scroll::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 7px;
}

.thin_scroll {
  	scrollbar-width: thin;
    scrollbar-color: #bbb #ddd;
}
