html {
  overflow-y: auto;
}

body {
  padding: 10px 10px 5px 10px;
  background-color: #ddd;
  min-height: 100vh;
}


// flash messages
// --------------
main .alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 1.25rem;

  &.alert-info {
    color: black;
    background-color: yellow;
  }

  &.alert-danger {
    color: white;
    background-color: red;
  }
}


// set cursor for liveview click
// -----------------------------
[phx-click] {
  cursor: pointer;
}


// login page
// ----------
.page_login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 15px);

  .card {
    min-width: 500px;
  }

  .card-header-icon {
    background-color: #f0f8ff;
    padding: 1rem;
    cursor: unset;
  }
}


// pages header
// ------------
[class^=page_] > .header {
  margin-bottom: 0.5rem;
}


// dashboard page
// --------------
.page_dashboard {
  .card_board {
    position: relative;

    &:hover {
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    }

    .board_actions {
      font-size: 2rem;
      padding: 5px;
      position: absolute;
      right: 3px;
      top: 3px;
      border-radius: 3px;
      visibility: hidden;

      button {
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }
    }

    &:hover .board_actions {
      visibility: visible;
    }

    .board_name {
      font-weight: 700;
      font-size: $size-4;
      margin-bottom: 0.75rem;
    }

    .board_descr {
      white-space: pre-line;
    }
  }
}


// board page
// ----------
.page_board {
  min-height: calc(100vh - 15px);
  display: flex;
  flex-direction: column;

  .board_content {
    position: relative;
    flex-grow: 1;

    .board_columns {
      user-select: none;
      overflow-x: auto;
      padding-bottom: 7px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: row;
    }
  }

  .input_color {
    width: 80px;
    height: 2rem;
    cursor:pointer;
    padding: 0;
    margin-right: 0.75rem;
  }

  .input_tag {
    height: 2rem;
  }

  .task_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .task_tag {
      min-width: 50px;
      height: 18px;
      line-height: 18px;
      margin: 0 5px 5px 0;
      padding: 0 7px 0 7px;
      border-radius: 3px;
      color: white;
      font-weight: 700;
      font-size: 0.7rem;
    }
  }

  .modal .task_tags {
    border: 1px solid;
    border-color: #dbdbdb;
    border-radius: 4px;
    padding: 0.5rem;

    &:hover {
      border-color: #b5b5b5;
    }

    .field_tag {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .checkbox_tag{
        width: 1.2rem;
        height: 1.2rem;
      }

      .task_tag {
        min-width: 80px;
        height: 26px;
        line-height: 26px;
        margin: 5px 8px 5px 5px;
        padding: 0 0.75rem 0 0.75rem;
        border-radius: 5px;
        font-size: 0.85rem;
      }
    }
  }
}

.column_container {
  padding: 0 7px;
  min-width: 307px;
  max-width: 307px;

  &:first-child {
    padding-left: 0;
    min-width: 300px;
    max-width: 300px;
  }

  &:last-child {
    padding-right: 0;
    min-width: 300px;
    max-width: 300px;
  }
}

.column_content {
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .column_header, .column_footer {
    padding: 0.75rem 0.75rem;
    flex: 0 0 auto;
  }

  .column_header {
    font-weight: 700;

    &.level {
      align-items: start;
    }

    .level-left {
      flex-shrink: 1;
    }
  }

  .column_tasks {
    flex: 1 1 auto;
    overflow-y: auto;
    margin: 0 0.375rem 0 0.75rem;
    font-size: 0.9rem;
  }

  .column_task {
    position: relative;
    background-color: white;
    margin: 0 0.375rem 0.5rem 0;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(100, 100, 100, 0.5);

    &:first-child {
      margin-top: 0
    }
    &:last-child {
      margin-bottom: 0
    }
    &:hover {
      background-color: #fff9;
    }

    .task_action {
      font-size: 1.5rem;
      background-color: #eee;
      opacity: .8;
      padding: 5px;
      position: absolute;
      right: 3px;
      top: 3px;
      border-radius: 3px;
      visibility: hidden;

      &:hover {
        background-color: #ddd;
        opacity: 1;
      }
    }

    &:hover .task_action {
      visibility: visible;
    }
  }
}