html {
  overflow-y: auto;
}

body {
  padding: 10px;
  background-color: #ddd;
  min-height: 100vh;
}


// flash messages
// --------------
main .alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 1.25rem;

  &.alert-info {
    color: black;
    background-color: yellow;
  }

  &.alert-danger {
    color: white;
    background-color: red;
  }
}


// set cursor for liveview click
// -----------------------------
[phx-click] {
  cursor: pointer;
}


// login page
// ----------
.page_login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 20px);

  .card {
    min-width: 500px;
  }

  .card-header-icon {
    background-color: #f0f8ff;
    padding: 1rem;
    cursor: unset;
  }
}


// pages header
// ------------
[class^=page_] > .header {
  margin-bottom: 0.5rem;
}


// dashboard page
// --------------
.page_dashboard {
  .card_board:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  }
}


// board page
// ----------
.page_board {
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;

  .board_content {
    position: relative;
    flex-grow: 1;

    .board_columns {
      user-select: none;
      white-space: nowrap;
      overflow-x: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.column_container {
  width: 300px;
  margin: 0 5px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: normal;

  &:first-child {
    margin-left: 0;
  }
}

.column_content{
  background-color: #ebecf0;
  display: flex;
  max-height: 100%;
  flex-direction: column;

  .column_header, .column_footer {
    padding: 0.75rem 0.75rem;
    flex: 0 0 auto;
  }

  .column_header {
    font-weight: 700;

    &.level {
      align-items: start;
    }

    .level-left {
      flex-shrink: 1;
    }
  }

  .column_tasks{
    flex: 1 1 auto;
    overflow-y: auto;
    margin: 0 0.375rem 0 0.75rem;
  }

  .column_task {
    position: relative;
    background-color: white;
    margin: 0 0.375rem 0.5rem 0;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(100, 100, 100, 0.5);

    &:first-child {
      margin-top: 0
    }
    &:last-child {
      margin-bottom: 0
    }
    &:hover {
      background-color: #fff9;
    }

    .task_action{
      font-size: 1.5rem;
      background-color: #eee;
      opacity: .8;
      padding: 5px;
      position: absolute;
      right: 3px;
      top: 3px;
      border-radius: 3px;
      visibility: hidden;

      &:hover {
        background-color: #ddd;
        opacity: 1;
      }
    }

    &:hover .task_action {
      visibility: visible;
    }
  }
}