html, body, main, main > div {
  height: 100%;
}

main {
  padding: 10px;
  background-color: #ddd;
}


// dashboard page
// --------------
.card_board:hover {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}


// board page
// ----------
.board {
    height: 100%;
    display: flex;
    flex-direction: column;

  .board_header {
    margin-bottom: 0.5rem;
  }

  .board_content {
    position: relative;
    flex-grow: 1;

    .board_columns {
      user-select: none;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 8px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.column_container {
  width: 300px;
  margin: 5px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: normal;

  &:first-child {
    margin-left: 0;
  }
}

.column_content{
  background-color: #ebecf0;

  .column_header, .column_footer {
    padding: 0.75rem 0.75rem;
  }

  .column_header {
    font-weight: 700;
  }

  .column_task {
    background-color: white;
    margin: 0.5rem 0.75rem;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(100, 100, 100, 0.5);


    &:first-child {
      margin-top: 0
    }
    &:last-child {
      margin-bottom: 0
    }
    &:hover {
      background-color: #fff9;
    }
  }
}